* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body, html {
    background-color: #fff;
    height: 100%;
  }

/*======================================nav bar=================================================*/



/*-------------------logo------------------------------*/


#logo {
    text-align: center;
    font-family: 'Water Brush', sans-serif;
    font-size: 2rem;
    color: #C0A187;
    margin-left: 2rem;
    border: solid 2px #C0A187;
    border-radius: 50%;
    padding: 0.7rem 0.7rem;
    background-color: #304B37;
}

#byline:hover{
    cursor: default;
}

/*--------------------------------------------------------------------------------*/

/*---------------------nav---------------------------*/
nav{
    background: #f6f6f6;
    padding: 5px 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
}

ul{
    list-style: none;
}

a{
   color: #023246;
   text-decoration: none;
}
a:hover{
  text-decoration: underline
}

.menu li{
    font-size: 20px;
    padding: 15px 5px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    white-space: nowrap;
}

.menu li a {
   display: block;
   color: #aaa;
}


.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: auto;
    width: auto;
    display: inline-block;
    border-radius: 50%;
    font-family: 'Water Brush', sans-serif;
    font-size: 1.5rem;
    color: #C0A187;
    border: solid 2px #AF979E;
    background-color: #304B37;
    padding: 15px;
}

.toggle{
    order: 1;
}

.item.button{
    order: 2;
}

 .item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
    opacity: 1;
}

.item a:hover{
    color: #8BBB92;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    transform: scale(1.05);
}

.item.active{
    display: block;
}

/*---------------- Navbar Toggle ------------------*/

.toggle{
   cursor: pointer;
}

.bars{
   background: #023246;
   display: inline-block;
   position: relative;
   height: 2px;
   width: 18px;
}

.bars::before,.bars::after{
   background: #023246;
   position: absolute;
   content:"";
   display: inline-block;
   width: 18px;
   height: 2px;
}

.bars::before{
    top: 5px;
}
.bars::after{
    top: -5px;
}


/*===========================================/nav bar===============================================*/

/*-------------------------------------examples-1--------------------------------------*/

.examples-1{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 3rem;
    gap: 2rem;
    width: auto;
    height: 38rem;
}

.card-1{
    flex:0 1 calc(40% - 1em);
   align-self: center;
    cursor: default;
   
}

.card-1 img{
    width: 100%;
    height: auto;
    object-fit: fill;
    max-height: 36rem;
    max-width: auto;
    
    border: none;
}
.header{
    flex:0 1 calc(60% - 1em);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #304B37;
    letter-spacing: 1px;
}
/*-------------------------------------/examples-1--------------------------------------*/

/*-------------------------------------examples-2--------------------------------------*/

.examples-2{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 3rem;
    gap: 2rem;
    width: auto;
    height: 38rem;
    background-color: #8BBB92;
}

.card-2{
    flex:0 1 calc(40% - 1em);
   align-self: center;
    cursor: default;
   
}

.card-2 img{
    width: 100%;
    height: auto;
    object-fit: fill;
    max-height: 36rem;
    max-width: auto;
    
    border: none;
}
.header{
    flex:0 1 calc(60% - 1em);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #304B37;
    letter-spacing: 1px;
}


/*-------------------------------------/examples-2--------------------------------------*/

/*-------------------------------------services--------------------------------------*/

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 3rem;
    width: auto;
    height: fit-content;
    background-color: #f6f6f6;
}
.services-h{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #304B37;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.services-p{
    align-self: center;
    font-family: 'Nunito Sans', sans-serif;
    color: #aaa;
    text-align: center;
    max-width: 900px;
    min-width: 400px;
    font-size: 1.5rem;
    line-height: 1.5;
    cursor: default;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}

.gallery{
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-content: center;
justify-content: space-evenly;
gap: 1.5rem;
}

.card{
    flex:0 1 calc(33% - 1em);
   align-self: center;
    cursor: default;
    text-align: center;
    padding: 0.5rem;
}
.card h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    color: #304B37;
    padding: 1rem;
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: auto;
    border-radius: 100%;
    border: none;
}

.statement{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 3rem 0.5rem;
    background-color: #8BBB92;
    gap: 1rem;
}
.statement h3{
    flex:0 1 calc(33% - 1em);
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.7rem;
    color: #304B37;
}
/*-------------------------------------/services---------------------------------------*/

/*-------------------------------------contact---------------------------------------*/

.contact-h{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 4rem;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #C0A187;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}
.contact-p{
    align-self: center;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    text-align: center;
    max-width: 900px;
    min-width: 400px;
    font-size: 1.5rem;
    line-height: 1.5;
    cursor: default;
    letter-spacing: 1px;
}


.contact{
    position: relative;
    min-height: 40rem;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #304B37;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
font-size: 36px;
font-weight: 600;
color: #f6f6f6;
}
.contact .content p{
    font-weight: 300;
    color: #f6f6f6;
    padding: 2rem 0;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 19px;
    color: #f6f6f6;
    flex-direction: column;
    font-weight: 300;
}


.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #C0A187;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #304B37;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #023246;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #C0A187;
    font-size: 12px;
    transform:translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #304B37;
    color: #f6f6f6;
    border: 1px solid #8BBB92;
    border-radius: 16px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactForm .inputBox input[type="submit"]:hover{
color: #f6f6f6;
transition: all 0.40;
border: 1px solid #304B37;
background: #8BBB92;
opacity: 1;
transition: 0.4s;
transform: scale(1.05);
}

/*-------------------------------------/contact--------------------------------------*/

/*-----------------------------------footer---------------------------------------*/

footer{
    position: relative;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(10, 10, 10, 0.80);
}

#foot {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #f6f6f6;
    border-top:2px solid #C0A187;
    border-bottom:2px solid #C0A187;
}


#foot:hover{
    cursor: default;
}


/*-----------------------------------------------------------------------------*/

#page-container {
    position: relative;
    min-height: 100vh;
    
}


/*--darker bronze #431f0d --*/